.ui-helper-reset {
	font-size: 50%;
}

.tab p {
	font-size: 60%;
}

select {
	width: 30em;
}

code {
	display: block;
	border: 1px solid #d3d3d3;
	margin: 1em;
	padding: 1em;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: o-pre-wrap;
}