body {
    font-family: Tahoma, sans-serif;
}

a, a:hover, a:link, a:visited {
    color: black;
    background-color: inherit;
}

div.tab {
    padding-bottom: 1em;
    border-bottom: 0.1em solid black;
}

div.tab p {
    font-size: 1em;
}

select {
    width: 30em;
}

code {
    display: block;
    border: 1px solid #d3d3d3;
    margin: 1em;
    padding: 1em;
    white-space: pre-wrap;
}